@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    background-color: #4CAF50;
    color: #333;
}

header {
    color: #f4f4f4;
    text-align: center;
    padding: 1em 0;
    margin-top: 1.25rem;
}

main {
    width: 80%;
    margin: 20px auto;
    background: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: 600;
}

select, textarea, button {
    font-family: 'Open Sans';
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    
}

input {
    font-family: 'Open Sans';
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.459);
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px;
    font-size: 20px;
    margin: 0.75rem 0 2rem;
    cursor: pointer;
}

button:active,
button:hover {
    opacity: 0.8;
}

.incidents-list {
    margin-top: 20px;
}

.incident {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    margin: 10px 0;
    border-left: 5px solid #4CAF50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
} 

/* .incident button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em;
    width: fit-content;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

.incident button:hover {
    opacity: 0.8;
} */